footer {
    background-color: #BDBBBB;
    height: 95px;
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    margin: 200px 0 auto;
    right: 0;
    left: 0;
    font-size: 20px;
}